services:
  - type: web
    name: apkl-lms
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 5002
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        generateValue: true
